.LocationContainer{
    width: 30vw;
    height: 100%;
}

.item{
    background-color: rgba(5,89,91,0.5);
    box-shadow: 3px 3px  8px #888888;
    width: 100%;
    padding: 5px 10px;
    border-radius: 15px;
}

.icon-item{
    margin:10px 15px;
}