@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}


.App h1{
  font-size: 2rem;
}

.App-link {
  color: #61dafb;
}

.weatherExtraInfo{
  margin: 20px 20px;
}

.weatherExtraInfo span{
  font-size: 1.2rem;
  
}

#cityTitle{
  font-weight: 300;
  margin:5px 15px;
}

.tempText{
  font-size: 1rem;
  font-weight: 600;
}

.item{
  background-color: rgba(117,164,139,1);
  max-width: 300px;
}

.item span{
  font-weight: 100;
}

#PageTitle{
  font-size: 2rem;
  text-transform: capitalize;
}

#forecastContainer{
  height: 90vh; 
  overflow-y: scroll;
  overflow-x: hidden;
}
 /* Scroll bar custom style */
#forecastContainer::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#forecastContainer::-webkit-scrollbar
{
	width: 6px;
	background-color: rgb(245, 66, 66);
}

#forecastContainer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(192, 111, 111);
}


