@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}


.App h1{
  font-size: 2rem;
}

.App-link {
  color: #61dafb;
}

.weatherExtraInfo{
  margin: 20px 20px;
}

.weatherExtraInfo span{
  font-size: 1.2rem;
  
}

#cityTitle{
  font-weight: 300;
  margin:5px 15px;
}

.tempText{
  font-size: 1rem;
  font-weight: 600;
}

.item{
  background-color: rgba(117,164,139,1);
  max-width: 300px;
}

.item span{
  font-weight: 100;
}

#PageTitle{
  font-size: 2rem;
  text-transform: capitalize;
}


